@import "tailwindcss";


@theme {
  /* Primary Colors */
  --color-primary: #b5c7eb;
  --color-primary-fixed: #d6e3ff;
  --color-primary-fixed-dim: #b5c7eb;
  --color-on-primary: #1e314d;
  --color-on-primary-fixed: #071b37;
  --color-on-primary-fixed-variant: #364765;
  --color-primary-container: #0b1f3b;
  --color-on-primary-container: #7587a9;
  --color-inverse-primary: #4d5f7e;

  /* Secondary Colors */
  --color-secondary: #7bd0ff;
  --color-secondary-fixed: #c4e7ff;
  --color-secondary-fixed-dim: #7bd0ff;
  --color-on-secondary: #00354a;
  --color-on-secondary-fixed: #001e2c;
  --color-on-secondary-fixed-variant: #004c69;
  --color-secondary-container: #00a6e0;
  --color-on-secondary-container: #00374d;

  /* Tertiary Colors */
  --color-tertiary: #b9c8de;
  --color-tertiary-fixed: #d4e4fa;
  --color-tertiary-fixed-dim: #b9c8de;
  --color-on-tertiary: #233143;
  --color-on-tertiary-fixed: #0d1c2d;
  --color-on-tertiary-fixed-variant: #39485a;
  --color-tertiary-container: #112030;
  --color-on-tertiary-container: #79889c;

  /* Surface & Background */
  --color-background: #0b1f3b;
  --color-on-background: #e0e3e5;
  --color-surface: #101415;
  --color-surface-dim: #0A0F1E;
  --color-surface-bright: #363a3b;
  --color-surface-container: #1d2022;
  --color-surface-container-low: #191c1e;
  --color-surface-container-lowest: #0b0f10;
  --color-surface-container-high: #272a2c;
  --color-surface-container-highest: #323537;
  --color-on-surface: #e0e3e5;
  --color-on-surface-variant: #c5c6ce;
  --color-inverse-surface: #e0e3e5;
  --color-inverse-on-surface: #2d3133;
  --color-surface-variant: #323537;
  --color-surface-tint: #b5c7eb;

  /* Error Colors */
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-error-container: #ffdad6;

  /* Outline */
  --color-outline: #8e9098;
  --color-outline-variant: #44474d;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}